<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Menu Item</title>
</head>
<body>
	<h1>{{ restaurant.name }}</h1>
	<h2>Edit Menu Item</h2>
	<form action="{{ url_for('editMenuItem', restaurant_id =  restaurant.id, menu_id = item.id ) }}" method="post">
        <p>Name: </p>
        <input type="text" name="namemenu" placeholder="{{ item.name }}">
		<p>Description: </p>
		<input type="text" name="descripmenu" placeholder="{{ item.description }}">
		<p>Price: </p>
		<input type="text" name="pricemenu" placeholder="{{ item.price }}">
		<p>Course: </p>
		<!-- add if and else in order to show default value -->
		{% if item.course == "Appetizer"%}
			<input type="radio" name="coursemenu" value="Appetizer" checked>Appetizer<br>
			<input type="radio" name="coursemenu" value="Entree" > Entree<br>
			<input type="radio" name="coursemenu" value="Dessert" > Dessert<br>
			<input type="radio" name="coursemenu" value="Beverage" > Beverage
		{% elif item.course == 'Entree' %}
			<input type="radio" name="coursemenu" value="Appetizer" >Appetizer<br>
			<input type="radio" name="coursemenu" value="Entree" checked> Entree<br>
			<input type="radio" name="coursemenu" value="Dessert" > Dessert<br>
			<input type="radio" name="coursemenu" value="Beverage" > Beverage
		{% elif item.course == 'Dessert' %}
			<input type="radio" name="coursemenu" value="Appetizer" >Appetizer<br>
			<input type="radio" name="coursemenu" value="Entree" > Entree<br>
			<input type="radio" name="coursemenu" value="Dessert" checked> Dessert<br>
			<input type="radio" name="coursemenu" value="Beverage" > Beverage
		{% elif item.course == 'Beverage' %}
			<input type="radio" name="coursemenu" value="Appetizer" >Appetizer<br>
			<input type="radio" name="coursemenu" value="Entree" > Entree<br>
			<input type="radio" name="coursemenu" value="Dessert" > Dessert<br>
			<input type="radio" name="coursemenu" value="Beverage" checked> Beverage
		{% endif %}

		<br><br>
		<br><br>
        <input type="submit" value="Edit">
        <a href="{{ url_for('showMenu',restaurant_id = restaurant.id)}}">Cancel</a>
    </form>
</body>
</html>