<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Menu Item</title>
</head>
<body>
	<h1>{{ restaurant_name }}</h1>
	<h2>Edit Menu Item</h2>
	<form action="#" method="post">
        <p>Name: </p>
        <input type="text" name="namemenu" placeholder="{{ item.name }}">
		<p>Course: </p>
		<input type="text" name="coursemenu" placeholder="{{ item.course }}">
		<p>Price: </p>
		<input type="text" name="pricemenu" placeholder="{{ item.price }}">
		<p>Description: </p>
		<input type="text" name="descripmenu" placeholder="{{ item.description }}">
		<br><br>
        <input type="submit" value="Edit">
        <a href="#">Cancel</a>
    </form>
</body>
</html>