<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Menu Item</title>
</head>
<body>
	<h1>{{ restaurant_name }}</h1>
    <h2>New Menu Item</h2>
    <form action="#" method="post">
        <p>Name: </p>
        <input type="text" name="namemenu">
		<p>Course: </p>
		<input type="text" name="coursemenu">
		<p>Price: </p>
		<input type="text" name="pricemenu">
		<p>Description: </p>
		<input type="text" name="descripmenu">
		<br><br>
        <input type="submit" value="New">
        <a href="#">Cancel</a>
    </form>
</body>
</html>