<!DOCTYPE html>
<html>
<head>
	<title>Restaurants</title>
	<!--<link rel=stylesheet type=text/css href='{{ url_for('static', filename='styles.css') }}'> -->
</head>
<body>
	<h1>RESTAURANTS</h1>
	<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for msg in messages %}
					<li><strong>{{ msg }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<a href="{{ url_for('newRestaurant') }}">Create a New Restaurant</a>
	{% for rest in restaurants %}
		<h2>{{ rest.name }}</h2>
		<a href="{{ url_for('showMenu', restaurant_id = rest.id) }} ">Menu</a>
		<a href = "{{ url_for('editRestaurant',restaurant_id = rest.id) }}">Edit Restaurant</a>
		<a href = "{{ url_for('deleteRestaurant',restaurant_id = rest.id) }}">Delete Restaurant</a>
	{% endfor %}
</body>
</html>
